name: Build

on:
  push:
    branches-ignore:
      - gh-readonly-queue/**
  pull_request:
  merge_group:

jobs:
  build-cmake:
    runs-on: ${{ matrix.os }}
    env:
      CARGO_HTTP_MULTIPLEXING: false
    strategy:
      fail-fast: false
      matrix:
        name: [ubuntu-latest, macOS-latest, windows-latest, ubuntu-22.04, windows-latest-mingw]
        include:
        - name: ubuntu-latest
          os: ubuntu-latest
          cmake-init-env: CXXFLAGS=-Werror
        - name: ubuntu-22.04
          os: ubuntu-22.04
          cmake-path: /usr/bin/
          cmake-args: -G Ninja -DTEST_MYSQL=ON
          cmake-init-env: CXXFLAGS=-Werror
        - name: macOS-latest
          os: macOS-latest
          cmake-init-env: CXXFLAGS=-Werror
        - name: windows-latest
          os: windows-latest
          cmake-args: -A x64 -DEXCEPTION_HANDLING=ON
          cmake-init-env: CXXFLAGS=/WX LDFLAGS=/WX
          package-file: "*-win64.zip"
        - name: windows-latest-mingw
          os: windows-latest
          cmake-args: -G Ninja -DCMAKE_SYSTEM_NAME=Windows -DCMAKE_C_COMPILER=gcc -DCMAKE_CXX_COMPILER=g++ -DEXCEPTION_HANDLING=ON -DCMAKE_RC_COMPILER=windres -DCMAKE_AR=ar
          cmake-init-env: CXXFLAGS=-Werror LDFLAGS=-Werror

    steps:
    - uses: actions/checkout@v4
      with:
        submodules: true

    - name: Prepare Linux
      if: contains(matrix.os, 'ubuntu')
      run: |
        sudo apt-get update -y
        # mount: /var/lib/grub/esp: special device /dev/disk/by-id/scsi-... does not exist.
        # sudo apt-get upgrade -y
        sudo apt-get install curl libcurl4-openssl-dev pkg-config ninja-build libfreetype6-dev libnotify-dev libsdl2-dev libsqlite3-dev libvulkan-dev glslang-tools spirv-tools libavcodec-dev libavformat-dev libavutil-dev libswresample-dev libswscale-dev libx264-dev libpng-dev valgrind gcovr libglew-dev -y

    - name: Prepare macOS
      if: contains(matrix.os, 'macOS')
      run: |
        brew update || true
        brew install pkg-config cmake || true
        sudo rm -rf /Library/Developer/CommandLineTools

    - name: Cache Rust dependencies
      uses: Swatinem/rust-cache@v2

    - name: Build ddnet 683eb4aa57be1dd025c5602881446e2dec2399c7
      run: |
        cd ..
        git clone --recursive https://github.com/ddnet/ddnet.git
        cd ddnet
        # git checkout a85d5d00b7752d496eae5d2e442ae6a3064db182
        mkdir build
        cd build
        cmake -E env ${{ matrix.cmake-init-env }} cmake ${{ matrix.cmake-args }} -DCMAKE_BUILD_TYPE=Debug -Werror=dev -DDEV=ON -DANTIBOT=ON -DCLIENT=OFF ..
        cmake --build . --config Debug --target DDNet-Server ${{ matrix.build-args }}

    - name: Check abi
      run: |
          ./scripts/update_abi.sh --dry-run

    - name: Build antibot
      run: |
          mkdir build
          cd build
          cmake -E env ${{ matrix.cmake-init-env }} cmake ${{ matrix.cmake-args }} -DCMAKE_BUILD_TYPE=Debug -Werror=dev  ..
          cmake --build . --config Debug ${{ matrix.build-args }}

    - name: Run server
      run: |
        cp build/libantibot.so ../ddnet/build
        cd ../ddnet/build
        ./DDNet-Server shutdown

